.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 10px 80px 80px;
}

.cart-container {
    background: #ff99004d;
}