.header {
    height: 80px;
    padding: 0 140px;
    background: #1c2b35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 35px;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #ff9900;
}